NODE_ENV=production
FORGE_APP_ID=FORGE_APP_ID
FORGE_CLIENT_ID=FORGE_CLIENT_ID
FORGE_CLIENT_API_TOKEN=FORGE_CLIENT_API_TOKEN
OTEL_EXPORTER_URL=http://otelcol:4318
FORGE_ENVIRONMENTS=FORGE_ENVIRONMENTS_GUID
FORGE_API_URL=https://yourdomain.atlassian.net/gateway/api/graphql